*.swp
*.swo
.python-version
__pycache__/
*.df
*.png
*.root
*.paths
envs/cmake3
envs/venv_py*
envs/xrootd-*
envs/local
envs/util-linux-*
envs/logs
./*.sh
#*
.#
*~
*.ipynb_checkpoints*
*__init__.py
*jupyterhub.sqlite
jupyterhub_cookie_secret
