<?xml version="1.0" ?>

<mode name="nu" />

<detector name="SBND" pot="1e20"/>
<detector name="ICARUS" pot="5e20"/>

<channel name="numu1p" unit="Reconstructed Neutrino Energy [GeV]">
    <bins2D unit="RecoE;del_p" edgesx="0.3 0.4 0.45 0.5 0.55 0.6 0.65 0.7 0.75 0.8 0.85 0.9 0.95 1.0 1.25 1.5" edgesy="0.0 0.2 0.4 0.6"/>
    <bins unit = "True L/E" min="0" max="2.5" nbins="200" plot="false"/>
    <subchannel name="cvcc" plotname="#nu_{#mu}CC" color="#1e3f54"/>
    <subchannel name="cvnumunc" plotname="NuMuNC" color="#95af8b"/>
    <subchannel name="cvothernc" plotname="OtherNC" color="#A4459F"/>
    <subchannel name="cvbkgcosmic" plotname="Out of Time Cosmics" color="#c89648"/>
    <subchannel name="cvbkgnotcosmic" plotname="Other (Non-Cosmic)" color="#c89654"/>
    <subchannel name="cvbkg" plotname="Other" color="#c89648"/>
    <subchannel name="intime" plotname="In Time Cosmics" color="#500000"/>
    <subchannel name="dirt" plotname="Dirt" color="#CC5500"/>
    <subchannel name="Run2dirt" plotname="Run 2 Dirt" color="#CC5500"/>
    <subchannel name="Run4dirt" plotname="Run 4 Dirt" color="#CC5500"/>
</channel>

<model tag="numudis">
    <rule index="0" name="No Osc"/>
    <rule index="1" name="Numu Disapp"/>
    <parameter variable_index = "1" name="L/E"/>
</model>


<variation_list>
    <!--<allowlist type="mcstat" plotname="MC Stats" >mcstats</allowlist>-->
    <allowlist type="spline" tag="SF" apply_to_subchannel="numu.*_cv.*" plotname="Spectral Function Bin 0">multisigma_CCQETemplateReweight_SBN_v3_LFGToSF_q0bin0</allowlist>
    <allowlist type="spline" tag="SF" apply_to_subchannel="numu.*_cv.*" plotname="Spectral Function Bin 1">multisigma_CCQETemplateReweight_SBN_v3_LFGToSF_q0bin1</allowlist>
    <allowlist type="spline" tag="SF" apply_to_subchannel="numu.*_cv.*" plotname="Spectral Function Bin 2">multisigma_CCQETemplateReweight_SBN_v3_LFGToSF_q0bin2</allowlist>
    <allowlist type="spline" tag="SF" apply_to_subchannel="numu.*_cv.*" plotname="Spectral Function Bin 3">multisigma_CCQETemplateReweight_SBN_v3_LFGToSF_q0bin3</allowlist>
    <allowlist type="spline" tag="SF" apply_to_subchannel="numu.*_cv.*" plotname="Spectral Function Bin 4">multisigma_CCQETemplateReweight_SBN_v3_LFGToSF_q0bin4</allowlist>

    <allowlist type="spline" tag="HF" apply_to_subchannel="numu.*_cv.*" plotname="Hartree Fock Bin 0">multisigma_CCQETemplateReweight_SBN_v3_LFGToHF_q0bin0</allowlist>
    <allowlist type="spline" tag="HF" apply_to_subchannel="numu.*_cv.*" plotname="Hartree Fock Bin 1">multisigma_CCQETemplateReweight_SBN_v3_LFGToHF_q0bin1</allowlist>
    <allowlist type="spline" tag="HF" apply_to_subchannel="numu.*_cv.*" plotname="Hartree Fock Bin 2">multisigma_CCQETemplateReweight_SBN_v3_LFGToHF_q0bin2</allowlist>
    <allowlist type="spline" tag="HF" apply_to_subchannel="numu.*_cv.*" plotname="Hartree Fock Bin 3">multisigma_CCQETemplateReweight_SBN_v3_LFGToHF_q0bin3</allowlist>
    <allowlist type="spline" tag="HF" apply_to_subchannel="numu.*_cv.*" plotname="Hartree Fock Bin 4">multisigma_CCQETemplateReweight_SBN_v3_LFGToHF_q0bin4</allowlist>

    <allowlist type="spline" tag="CRPA" apply_to_subchannel="numu.*_cv.*" plotname="CRPA Bin 0">multisigma_CCQETemplateReweight_SBN_v3_HFToCRPA_q0bin0</allowlist>
    <allowlist type="spline" tag="CRPA" apply_to_subchannel="numu.*_cv.*" plotname="CRPA Bin 1">multisigma_CCQETemplateReweight_SBN_v3_HFToCRPA_q0bin1</allowlist>
    <allowlist type="spline" tag="CRPA" apply_to_subchannel="numu.*_cv.*" plotname="CRPA Bin 2">multisigma_CCQETemplateReweight_SBN_v3_HFToCRPA_q0bin2</allowlist>
    <allowlist type="spline" tag="CRPA" apply_to_subchannel="numu.*_cv.*" plotname="CRPA Bin 3">multisigma_CCQETemplateReweight_SBN_v3_HFToCRPA_q0bin3</allowlist>
    <allowlist type="spline" tag="CRPA" apply_to_subchannel="numu.*_cv.*" plotname="CRPA Bin 4">multisigma_CCQETemplateReweight_SBN_v3_HFToCRPA_q0bin4</allowlist>

    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 0">multisigma_QEInterference_SBN_v3_QEIntf_dial_0</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 1">multisigma_QEInterference_SBN_v3_QEIntf_dial_1</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 2">multisigma_QEInterference_SBN_v3_QEIntf_dial_2</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 3">multisigma_QEInterference_SBN_v3_QEIntf_dial_3</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 4">multisigma_QEInterference_SBN_v3_QEIntf_dial_4</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="QEInterference Bin 5">multisigma_QEInterference_SBN_v3_QEIntf_dial_5</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="CoulombCCQE">GENIEReWeight_SBN_v1_multisigma_CoulombCCQE</allowlist>
    <allowlist type="spline" tag="QE" apply_to_subchannel="numu.*_cv.*" plotname="VecFFCCQEshape">GENIEReWeight_SBN_v1_multisigma_VecFFCCQEshape</allowlist>


    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrG4LoE_N">multisigma_GENIEReWeight_SBN_v3_FrG4LoE_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrG4M1E_N">multisigma_GENIEReWeight_SBN_v3_FrG4M1E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrG4M2E_N">multisigma_GENIEReWeight_SBN_v3_FrG4M2E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrG4HiE_N">multisigma_GENIEReWeight_SBN_v3_FrG4HiE_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrINCLLoE_N">multisigma_GENIEReWeight_SBN_v3_FrINCLLoE_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrINCLM1_N">multisigma_GENIEReWeight_SBN_v3_FrINCLM1E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrINCLM2_N">multisigma_GENIEReWeight_SBN_v3_FrINCLM2E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrINCLHi_N">multisigma_GENIEReWeight_SBN_v3_FrINCLHiE_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="MFPLoE_N">multisigma_GENIEReWeight_SBN_v3_MFPLoE_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="MFPM1E_N">multisigma_GENIEReWeight_SBN_v3_MFPM1E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="MFPM2E_N">multisigma_GENIEReWeight_SBN_v3_MFPM2E_N</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="MFPHiE_N">multisigma_GENIEReWeight_SBN_v3_MFPHiE_N</allowlist>
    <allowlist type="spline" tag="AxialFF" apply_to_subchannel="numu.*_cv.*" plotname="ZExpPCA_b1">multisigma_ZExpPCAWeighter_SBN_v3_MvA_b1</allowlist>
    <allowlist type="spline" tag="AxialFF" apply_to_subchannel="numu.*_cv.*" plotname="ZExpPCA_b2">multisigma_ZExpPCAWeighter_SBN_v3_MvA_b2</allowlist>
    <allowlist type="spline" tag="AxialFF" apply_to_subchannel="numu.*_cv.*" plotname="ZExpPCA_b3">multisigma_ZExpPCAWeighter_SBN_v3_MvA_b3</allowlist>
    <allowlist type="spline" tag="AxialFF" apply_to_subchannel="numu.*_cv.*" plotname="ZExpPCA_b4">multisigma_ZExpPCAWeighter_SBN_v3_MvA_b4</allowlist>

    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="MaNCRES">GENIEReWeight_SBN_v1_multisigma_MaNCRES</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="MaCCRES">GENIEReWeight_SBN_v1_multisigma_MaCCRES</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="MvCCRES">GENIEReWeight_SBN_v1_multisigma_MvCCRES</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="MvNCRES">GENIEReWeight_SBN_v1_multisigma_MvNCRES</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="ThetaDelta2NRad">GENIEReWeight_SBN_v1_multisigma_ThetaDelta2NRad</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="ThetaDelta2Npi">GENIEReWeight_SBN_v1_multisigma_Theta_Delta2Npi</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="RDecBR1eta">GENIEReWeight_SBN_v1_multisigma_RDecBR1eta</allowlist>
    <allowlist type="spline" tag="RES" apply_to_subchannel="numu.*_cv.*" plotname="RDecBR1gamma">GENIEReWeight_SBN_v1_multisigma_RDecBR1gamma</allowlist>

    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="AhtBY">GENIEReWeight_SBN_v1_multisigma_AhtBY</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="BhtBY">GENIEReWeight_SBN_v1_multisigma_BhtBY</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="CV1uBY">GENIEReWeight_SBN_v1_multisigma_CV1uBY</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="CV2uBY">GENIEReWeight_SBN_v1_multisigma_CV2uBY</allowlist>

    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="CCCOH">GENIEReWeight_SBN_v1_multisigma_NormCCCOH</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="NCCOH">GENIEReWeight_SBN_v1_multisigma_NormNCCOH</allowlist>

    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="MaNCEL">GENIEReWeight_SBN_v1_multisigma_MaNCEL</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="EtaNCEL">GENIEReWeight_SBN_v1_multisigma_EtaNCEL</allowlist>

    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="MFP_pi">GENIEReWeight_SBN_v1_multisigma_MFP_pi</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrAbs_pi">GENIEReWeight_SBN_v1_multisigma_FrAbs_pi</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrInel_pi">GENIEReWeight_SBN_v1_multisigma_FrInel_pi</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrCEx_pi">GENIEReWeight_SBN_v1_multisigma_FrCEx_pi</allowlist>
    <allowlist type="spline" tag="FSI" apply_to_subchannel="numu.*_cv.*" plotname="FrPiProd_pi">GENIEReWeight_SBN_v1_multisigma_FrPiProd_pi</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="NormCCMEC">GENIEReWeight_SBN_v1_multisigma_NormCCMEC</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="NormNCMEC">GENIEReWeight_SBN_v1_multisigma_NormNCMEC</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="DecayAngMEC">GENIEReWeight_SBN_v1_multisigma_DecayAngMEC</allowlist>

    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Valencia Bin 0">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToVal_MECResponse_q0bin0</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Valencia Bin 1">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToVal_MECResponse_q0bin1</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Valencia Bin 2">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToVal_MECResponse_q0bin2</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Valencia Bin 3">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToVal_MECResponse_q0bin3</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Martini Bin 0">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToMar_MECResponse_q0bin0</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Martini Bin 1">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToMar_MECResponse_q0bin1</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Martini Bin 2">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToMar_MECResponse_q0bin2</allowlist>
    <allowlist type="spline" tag="MEC" apply_to_subchannel="numu.*_cv.*" plotname="MEC Martini Bin 3">multisigma_MECq0q3InterpWeighting_SBN_v3_SuSAToMar_MECResponse_q0bin3</allowlist>

    <allowlist type="norm" tag="SBND Det" plotname="SBND Dirt">nu_SBND_numu.*_dirt:1.0</allowlist>
    <allowlist type="norm" tag="ICARUS Det" plotname="ICARUSRun2 Dirt">nu_ICARUS_numu.*_Run2dirt:1.0</allowlist>
    <allowlist type="norm" tag="ICARUS Det" plotname="ICARUSRun4 Dirt">nu_ICARUS_numu.*_Run4dirt:1.0</allowlist>
    <allowlist type="norm" tag="SBND Det" plotname="Corsika Unc">nu_SBND_numu.*_cvbkgcosmic:0.1</allowlist>

    <!--<allowlist type="spline" tag="Det" plotname="SBND SCE">SCE_SBND_multisigma_SCE</allowlist>-->
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 2 SCE">SCE_ICARUSRun2_multisigma_SCE</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 4 SCE">SCE_ICARUSRun4_multisigma_SCE</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBNDGain">multisigma_SBND_PID_Gain</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun2Smear">multisigma_ICARUSRun2_PID_Smear</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun2Gain">multisigma_ICARUSRun2_PID_Gain</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun4Smear">multisigma_ICARUSRun4_PID_Smear</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun4Gain">multisigma_ICARUSRun4_PID_Gain</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBNDSmear">multisigma_SBND_PID_Smear</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBND Trig Eff">multisigma_SBND_TrigEff</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun2 Trig Eff">multisigma_ICARUSRun2_TrigEff</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUSRun4 Trig Eff">multisigma_ICARUSRun4_TrigEff</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBNDAlpha">multisigma_SBND_PID_Alpha</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBNDBeta">multisigma_SBND_PID_Beta</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBNDR">multisigma_SBND_PID_R</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBND XThetaXW">WireMod_SBND_multisigma_WMXThetaXW</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 2 XThetaXW">WireMod_ICARUSRun2_multisigma_WMXThetaXW</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 4 XThetaXW">WireMod_ICARUSRun4_multisigma_WMXThetaXW</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="SBND YZ">WireMod_SBND_multisigma_WMYZ</allowlist>
    <allowlist type="spline" tag="SBND Det" apply_to_subchannel="numu.*_cv.*" plotname="DENT">DENT_SBND_multisigma_DENT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run2 YZ">WireMod_ICARUSRun2_multisigma_WMYZ</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run4 YZ">WireMod_ICARUSRun4_multisigma_WMYZ</allowlist>
    <allowlist type="spline" tag="OtherXSec" apply_to_subchannel="numu.*_cv.*" plotname="Bind">multisigma_BIND</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 2 Trk Split Z=0">multisigma_ICARUSRun2_Z=0_TRKSPLT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 4 Trk Split Z=0">multisigma_ICARUSRun4_Z=0_TRKSPLT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 2 Trk Split East Cathode">multisigma_ICARUSRun2_EastCathode_TRKSPLT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 4 Trk Split East Cathode">multisigma_ICARUSRun4_EastCathode_TRKSPLT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 2 Trk Split West Cathode">multisigma_ICARUSRun2_WestCathode_TRKSPLT</allowlist>
    <allowlist type="spline" tag="ICARUS Det" apply_to_subchannel="numu.*_cv.*" plotname="ICARUS Run 4 Trk Split West Cathode">multisigma_ICARUSRun4_WestCathode_TRKSPLT</allowlist>

    <allowlist type="covariance" tag="G4" apply_to_subchannel="numu.*_cv.*" plotname="G4piminus">multisim_reinteractions_piminus_Geant4</allowlist>
    <allowlist type="covariance" tag="G4" apply_to_subchannel="numu.*_cv.*" plotname="G4piplus">multisim_reinteractions_piplus_Geant4</allowlist>
    <allowlist type="covariance" tag="G4" apply_to_subchannel="numu.*_cv.*" plotname="G4proton">multisim_reinteractions_proton_Geant4</allowlist>

    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvpCC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvpCC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvpCC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvpCC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvpNC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvpNC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvpNC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvpNC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvnCC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvnCC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvnCC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvnCC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvnNC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvnNC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvnNC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvnNC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarpCC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarpCC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarpCC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarpCC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarpNC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarpNC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarpNC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarpNC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarnCC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarnCC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarnCC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarnCC2pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarnNC1pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarnNC1pi</allowlist>
    <allowlist type="covariance" tag="NonRES" apply_to_subchannel="numu.*_cv.*" plotname="NonRESBGvbarnNC2pi">GENIEReWeight_SBN_v1_multisim_NonRESBGvbarnNC2pi</allowlist>
    <allowlist type="spline" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="POT ICARUS Run2">multisigma_ICARUSRun2_POT</allowlist>
    <allowlist type="spline" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="POT ICARUS Run4">multisigma_ICARUSRun4_POT</allowlist>
    <allowlist type="spline" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="POT SBND">multisigma_SBND_POT</allowlist>
                                        
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="nucleoninexsec">multisim_nucleoninexsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="kminus">multisim_kminus_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="kzero">multisim_kzero_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="piontotxsec">multisim_piontotxsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="horncurrent">multisim_horncurrent_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="piplus">multisim_piplus_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="piminus">multisim_piminus_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="pioninexsec">multisim_pioninexsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="pionqexsec">multisim_pionqexsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="kplus">multisim_kplus_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="nucleontotxsec">multisim_nucleontotxsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="nucleonqexsec">multisim_nucleonqexsec_Flux</allowlist>
    <allowlist type="covariance" tag="Flux" apply_to_subchannel="numu.*_cv.*" plotname="expskin">multisim_expskin_Flux</allowlist>
</variation_list>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/SBNDMCCV_*sbruce_fakedata.root" scale = "1.0" pot="{{ sbnd_mc_pot }}">
    <friend treename="multisigmaTree" />
    <friend treename="fakedataTree" />
    <friend treename="multisimTree" />
    <branch
        associated_subchannel = "nu_SBND_numu1p_cvcc"
        model_rule            = "1"
        additional_weight     = "(!true_isnc)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
        <variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_SBND_numu1p_cvnumunc"
        model_rule            = "1"
        additional_weight     = "(true_isnc == 1)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>

    <branch
        associated_subchannel = "nu_SBND_numu1p_cvothernc"
        model_rule            = "0"
        additional_weight     = "(true_isnc == 1)*(true_pdg != 14 & true_pdg != -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_SBND_numu1p_cvbkgcosmic"
        model_rule            = "0"
        additional_weight     = "(!((true_isnc != 1)*(true_pdg == 14 || true_pdg == -14)) & !(true_isnc == 1) & (true_iscosmic == 1))*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
    <branch
        associated_subchannel = "nu_SBND_numu1p_cvbkgnotcosmic"
        model_rule            = "0"
        additional_weight     = "(!((true_isnc != 1)*(true_pdg == 14 || true_pdg == -14)) & !(true_isnc == 1) & !(true_iscosmic == 1))*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/SBND_SpringBNBOffData_sbruce_fakedata.root" scale = "1.0" pot="{{ sbnd_offbeam_pot }}">
    <branch
        associated_subchannel = "nu_SBND_numu1p_intime"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/SBND_SpringLowEMC_sbruce_fakedata.root" scale = "1.0" pot="{{ sbnd_dirt_pot }}">
    <branch
        associated_subchannel = "nu_SBND_numu1p_dirt"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUSRun2_SpringMCOverlay_rewgt_*sbruce_fakedata.root" scale = "{{ icarus_r2_mc_scale }}" pot="5e20">
    <friend treename="multisigmaTree" />
    <friend treename="fakedataTree" />
    <friend treename="multisimTree" />
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvcc"
        model_rule            = "1"
        additional_weight     = "(!true_isnc)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
        <variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvnumunc"
        model_rule            = "1"
        additional_weight     = "(true_isnc == 1)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>

    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvothernc"
        model_rule            = "0"
        additional_weight     = "(true_isnc == 1)*(true_pdg != 14 & true_pdg != -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvbkg"
        model_rule            = "0"
        additional_weight     = "(!((true_isnc != 1)*(true_pdg == 14 || true_pdg == -14)) & !(true_isnc == 1))*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>

</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUS_SpringRun2BNBOff_unblind_sbruce_fakedata.root" scale = "{{ icarus_r2_offbeam_scale }}" pot="5e20">
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_intime"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUSRun2_Spring_Overlay_Dirt_sbruce_fakedata.root" scale = "{{ icarus_r2_dirt_scale }}" pot="5e20">
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_Run2dirt"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUSRun4_SpringMCOverlay_rewgt_*_sbruce_fakedata.root" scale = "{{ icarus_r4_mc_scale }}" pot="5e20">
    <friend treename="multisigmaTree" />
    <friend treename="fakedataTree" />
    <friend treename="multisimTree" />
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvcc"
        model_rule            = "1"
        additional_weight     = "(!true_isnc)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
        <variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvnumunc"
        model_rule            = "1"
        additional_weight     = "(true_isnc == 1)*(true_pdg == 14 || true_pdg == -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvothernc"
        model_rule            = "0"
        additional_weight     = "(true_isnc == 1)*(true_pdg != 14 & true_pdg != -14)*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>baseline/(nu_E*1000.0)</variable>
    </branch>    <branch
        associated_subchannel = "nu_ICARUS_numu1p_cvbkg"
        model_rule            = "0"
        additional_weight     = "(!((true_isnc != 1)*(true_pdg == 14 || true_pdg == -14)) & !(true_isnc == 1))*cvwgt"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUS_SpringRun4BNBOff_unblind_sbruce_fakedata.root" scale = "{{ icarus_r4_offbeam_scale }}" pot="5e20">
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_intime"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<MCFile treename="SelectedEvents" filename="{{ BASE_DIR }}/GUMP/FD/ICARUSRun4_Spring_Overlay_Dirt_sbruce_fakedata.root" scale = "{{ icarus_r4_dirt_scale }}" pot="5e20">
    <branch
        associated_subchannel = "nu_ICARUS_numu1p_Run4dirt"
        model_rule            = "0"
        incl_systematics      = "false"
        >
        <variable2D>nu_E_calo;del_p</variable2D>
	<variable>1.0</variable>
    </branch>
</MCFile>

<correlation>multisigma_SBND_POT multisigma_ICARUSRun4_POT 0.33</correlation>
